.primaryButton {
    @include fontBody(); 
    background-color: $dorian;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.deleteButton {
    @include fontBody(); 
    background-color: $tomata;
    color: $dorian;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.post-button{
    @include fontBody();
    background-color: green;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $dorian;

}