.gdprContainer {
  .gdprBody {
    height: 10rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    overflow: auto;

    p {
      max-height: 100%;
    }
  }

  input {
    transform: scale(1.5);
  }

  @include desktopsOnly {
    margin: 2rem auto;
    width: 50vw;
  }
}

.summaryContainer {
  @include flexStyling(column, center);
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  width: 90%;
  margin: 2rem auto;

  h1 {
    text-align: center;
  }

  .bookingDetails,
  .customerDetails {
    padding: 2rem;
    line-height: 2.5rem;
    text-align: left;

    li {
      list-style: none;
    }
  }

  @include desktopsOnly {
    @include flexStyling(row, center);
    width: 50vw;

    .bookingInfoDiv {
      @include flexStyling(row, center);
      .bookingRefAndDate {
        margin: 1rem;
      }
      .amountAndTime {
        margin: 1rem;
      }
    }
  }
}
