//For use with responsive desktop displays
@mixin desktopsOnly {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

// For hero images
@mixin pageHero($imageLocation) {
    height: 100vh;
    width: 100%;
    background: $imageLocation;
    @include homeImage;
    text-align: center;
    h1 {
      color:$dorian;
      text-shadow: 1px 1px 2px black;
    }

}

//Created to recyle flex-styling, arguments for direction and justify-content
@mixin flexStyling($direction, $justifyContent) {
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
    flex-direction: $direction;
}

//Mixin for container with background images
@mixin homeImage {
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
}

//Mixin for homepage containers with text
@mixin homeImageText {
    h2 {
        font-size: 2rem;
        color:white;
        text-align: center;
        background-color: rgba(0, 0, 0,0.5);
        position: absolute;
        bottom: 0;
        width:90%;
        transition: 0.1s ease-in-out;
       
      }
      &:hover {
        h2 {
          font-size:2.5rem;
        }
      }
}


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


