//COLORS

//Primary Color
$brunello: #7D1F1B;
//Secondary Color
$vitello: #C96C69;
//Accenting Color
$tomata: #C9322C;
//Dark Color
$terra: #4A1210;
//Success
$spianata: #207a3f;
//Texts
$fontana: #4A4A68;
$light-fontana: #8C8CA1;
//Accent text
$dorian: #ECF1F4;
//Light text
$light: #FAFCFE;

//TYPOGRAPHY

// font weight fw
$fw-bold: bold;
$fw-medium: medium;
$fw-thin: thin;

//font size fs
$fs-title: 5.4rem;
$fs-header-2: 4rem;
$fs-header-3: 3rem;
$fs-subtitle: 2.4rem;
$fs-body: 1.6rem;
$fs-small: 1.4rem;

//font letter spacing ls
$ls-negative: -.2rem;
$ls-positive: .3rem;

//font family ff
$ff-cormorant: 'Cormorant Upright', serif;
$ff-montserrat: 'Montserrat', sans-serif;