.booking-table {
  @include flexStyling(column, center);

  li {
    @include flexStyling(column, center);
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    position: relative;
  }

  .delete-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: bold;
    width: 2.5rem;
    height: 2.5rem;
    background-color: lightcoral;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .edit-button {
    margin: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: lightskyblue;
  }
}

.user-inputs {
    @include flexStyling(column, space-between);
    margin: 1rem;

    .radio {
        @include flexStyling(row, center);

        input {
            width: 2rem;
            height: 2rem;
            margin-bottom: 2rem;
        }
    }
}

.post-button {
    margin: 1rem;
    padding: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color:mediumseagreen;
    color: white;
}

h2 {
    margin-bottom: .5rem;
<<<<<<< HEAD
}

// EditBooking page
.showEditBookingInfoContainer {
  @include flexStyling(column, center);

  font-size: 1.5rem;
  

  h1 {
    text-align: center;
  }

  .bookingInfoDiv {
    padding: 2rem;
    line-height: 2.5rem;

    li {
      list-style: none;
    }
  }

  @include desktopsOnly {
    .bookingInfoDiv {
        @include flexStyling(row, center);
        .bookingRefAndDate {
          margin: 1rem;
        }
        .bookingGuestAmountAndSeatingTime {
          margin: 1rem;
        }
    }
  }

  .customerInfoDiv {
    text-decoration: none;
    padding: 2rem;
    line-height: 2.5rem;

    li {
      list-style: none;
    }
  }

  .line {
    border-top: 0.5rem solid red;
    width: 70vw;
  }
}

.line2 {
  border-top: 0.1rem solid blue;
  width: 30vw;
  margin-bottom: 2rem;
}
=======
}
>>>>>>> 38aa64fe49478f49b0bcf4d745f0cd551274fd1c
