/* Images and colours to potentially be replaced later with chosen design */
/* Responsive: Mobile first principle */

//Erik

.homeHero {
@include pageHero(url("../assets/images/homePageHero.jpg"))

}

.homeAbout {
  @include flexStyling(column, center);
  text-align: center;
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  letter-spacing: 0.3rem;
}

.homeMenu {
  position: relative;
  height: 30vh;
  width: 100%;
  background: url("../assets/images/menuImage.jpg");
  @include homeImage;
  @include homeImageText;

  //Menu and booking on same row in desktop mode
  @include desktopsOnly {
    display: inline-flex;
    width: 50%;
  }
}

.homeBooking {
  position: relative;
  height: 30vh;
  width: 100%;
  background: url("../assets/images/bookingImage.jpg");
  @include homeImage;
  @include homeImageText;

  @include desktopsOnly {
    display: inline-flex;
    width: 50%;
  }
}
