/* Images and colours to potentially be replaced later with chosen design */
/* Responsive: Mobile first principle */

//Erik

.homeHero {
@include pageHero(url("../assets/images/homeHero.jpg"));
position:relative;
  h1 {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 40%;
    font-size:7rem;
    background-color: rgba(0,0,0,0.3);
    padding:5rem;
    width:100%;
    margin:0 auto;
  }

}

.homeAbout {
  @include flexStyling(column, center);
  text-align: center;
  width: 80%;
  height: 30vh;
  margin: 3rem auto 3rem auto;
  letter-spacing: $ls-positive;
    h2 {
      margin:2rem;
    }
    p {
      font-style: italic;
    }
}

.homeMenu {
  position: relative;
  height: 30vh;
  width: 100%;
  background: url("../assets/images/menuImage.jpg");
  @include homeImage;
  @include homeImageText;

  //Menu and booking on same row in desktop mode
  @include desktopsOnly {
    display: inline-flex;
    width: 50%;
  }
}

.homeBooking {
  position: relative;
  height: 30vh;
  width: 100%;
  background: url("../assets/images/bookingImage.jpg");
  @include homeImage;
  @include homeImageText;

  @include desktopsOnly {
    display: inline-flex;
    width: 50%;
  }
}
