.menuHero {
  @include pageHero(url("../assets/images/menuImage.jpg"));
  h1 {
    padding:2rem;
    font-size:3rem;
    @include desktopsOnly {
    font-size:$fs-header-2;
    padding:3rem;
    }
  }

}

.menuContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include desktopsOnly {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menuSection {
    width: 90%;
    margin: 2rem auto 2rem auto;
    @include flexStyling(column, center);
    @include desktopsOnly {
      width: 45%;
    }

    .menuItem {
      width: 100%;
      position: relative;
      margin: 5px;
      letter-spacing: 0.1rem;
      .price {
        position: absolute;
        right: 0;
      }
      h3 {
        margin: 1rem auto 1rem auto;
      }
    }
  }

  .sectionHead {
    text-align: center;
    margin: 2rem auto 2rem auto;
    color: $brunello;
    font-size:$fs-header-2;
  }

  .menuHead {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
  }
}
