.footerContainer {
  @include flexStyling(column, space-between);
  background-color: $brunello;
  padding: 1rem;

  ul {
    list-style: none;
    margin: 1rem;

    li {
      @include fontBody();
      color: $dorian;
    }
  }

  p {
    color: $dorian;
    margin-top: 1rem;
    border-top: 1px solid $dorian
  }
}
