.footerContainer {
  @include flexStyling(column, space-between);
  background-image: linear-gradient(to top, $terra 0%, $brunello 99%, $vitello 100%);

  .social-media-links {
    width: 50%;
    margin: 1rem;
    @include flexStyling(row, space-between);
  }

  ul {
    list-style: none;
    margin: 3rem;

    li {
      @include fontBody();
      @include flexStyling(row, space-between);
      color: $dorian;
      text-align: right;
    }
  }

  p {
    color: $dorian;
    width: 90%;
    text-align: center;
    margin-top: 1rem;
    padding-top: .5rem;
    border-top: 1px solid $dorian;
    opacity: 0.8;
  }
}
