.footerContainer {
  @include flexStyling(column, space-between);
  background-color: grey;
  color: white;
  width: 100%;

  .logoContainer {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: red;
    margin: 1rem;
  }

  ul {
    list-style: none;
    margin: 1rem;
  }
}
